$backgroundColor : #ffffff;

.card-container{
  width: 255px;
  height: 320px;
  border-radius: 8px;
  background-color: $backgroundColor;
}

// .serviceCard{
//   width: 25%;
//   // padding: 10px;
// }

.card {
  display: flex;
  border-radius: 8px;
  height: auto;
  margin: 10px 10px;

}


.card-header{
  background-color: $backgroundColor;
  margin:3px;
  padding: 5px;
  text-align: center;
}

.card-footer{

  display: block;
  border-radius: 8px !important;
  border-top: 0px;
  background-color: $backgroundColor;
  margin : 0px;
  // background-color: rgba(255, 255, 255, 0.8);
  // margin: -19px 0px 0px 0px;
  // position: relative;
}

.card-body{
  margin: auto;
  display: flex;;
  overflow: hidden;
  position: relative;
  background: $backgroundColor;
  height: 135px;

}

.card-img-top {
  padding: 5px;
  height: 50px;
}

.card{
  border: solid 1px #e2e7ea;
  border-radius: 8px;
  display:block;
  .card-header{
    background-color: $backgroundColor;
    border-bottom-color: #e2e7ea;
  }
}