$tiles-container-color : #c8e0f0;


.top-main-container{
  width: 100%;
  background-color: $tiles-container-color;
  padding-left: 80px;
  padding-right: 100px;
  padding-top: 10px;
}


.form-container{
  margin-left: 120px;
  margin-top: 20px;
}

.form-header-div{
  display: block;
  padding: 10px;
  width: 75%;
}
