$tiles-container-color : #c8e0f0;
$secondary-color : #26ade3;
$primary-color: #1dadeb;
$center-text-align : center;
$common-color: #ffffff;
$modal-borders: 0px;
$border-color: #dfdfdf;


@mixin boxShadow {
  -moz-box-shadow: 0 10px 50px $border-color;
  -webkit-box-shadow: 0 10px 50px $border-color;
  box-shadow: -20px 20px 50px -20px $border-color;
}
.container{
  width :100%
}

.card-image{
  width:20px;
  height: 20px;
}

.btn-rounded {
  line-height: 15px;
  background-color: $primary-color ;
  border-radius:50%;
  transition: all 0.3s ease 0s;
}

@mixin font {
  font-family: Gotham;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $common-color;
}

.btn-font {
  @include font;
  font-size:12px;
  color:$common-color;
}

.card-img{
  width: 175px;
  height: 88px;
  object-fit: contain;
}


.tab-pane {
  display: block;
  opacity: 1 !important;;
}

.tab-content>.active {
  display: block;
  opacity:1;
}

.top-main-container{
  width: 100%;
  background-color: $tiles-container-color;
  padding-left: 80px;
  padding-right: 100px;
  padding-top: 10px;
}


.form-container{
  // margin-left: 15%;
  // margin-top: 20px;
  margin: 10%;
}

.form-header-div{
  display: block;
  padding: 10px;
  width: 100%;
  padding: 0% 10%;
}
.top-space{
  margin-top: 20px;
}

.border{
  border: 1px solid #000 !important;
}

.gov-heading{
  font-size: 3.5rem;
}
.form-div{
  margin: 3% 10%;
  background-color: #f9f9f9;
  padding: 4% 4%;
  border-radius: 20px;
}

.fade{
  opacity: 100;

}

.service-catalog .top-space{
  background-color: var(--pale-grey);
}


/* Goes to modal css file*/
.modal-content{
  border-radius: 8px !important;
  .modal-header {
    border-bottom: $modal-borders;
    height: 70px;
    .modal-title{
      margin: 25px 3px;
    }
  }
  .modal-body {
    height: 900px;
  }
  .modal-footer {
    border-top: $modal-borders;
    height: 50px;
  }
}

@media (min-width: 400px){
  .modal-dialog {
    max-width: 1110px;
  }
}

.icon-box {
  @include boxShadow;
  width : 206.6px;
  height:88px;
  display: block;
  text-align: center;
  margin: 5px 5px;
  background-color: #fff;
  padding: 25px 50px;
  box-sizing: border-box;
  color: #000;
  font-size: 2vw;
  border-radius: 3px;
  border: 1.5px solid;
  border-style: dashed;
  border-color: $border-color;
}

.icon-tile-div{
  display: inline-flex;
}

.all-services-div{
  display: inline-flex;
  margin: 0px 0px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.all-services{
  border-right: 1px solid;
  padding-right: 30px;
}

.service-choice{
  margin-left: 5px;
  margin-top: 2px;
}

.tab-container-div{
  padding: 0px;
  border-radius: 8px;
  border: 1px solid;
  border-color: $border-color;
  margin: 10px;
}

