.icon-box {
  display: block;
  text-align: center;
  margin: 5px 0px;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
  color: #000;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
  border-radius: 5px;
  border: 1px solid;
}