$btn-primary-color: #1dadeb;
$btn-recommended-color : #f5ce00;
$btn-subscribe-color : rgba(38, 186, 126, 0.2);
$btn-notApplicable-color : rgba(154, 154, 154, 0.2);
$default-color : #ffffff;
$tiles-btn-color : #c8e0f0;
$modal-btn-save: #26ba7e;
$modal-btn-reset: #515151;


@mixin btn-default{
  width:220px;
  border-radius: 25px;
  margin: 5px;
  padding: 7px;
  border: 0px;
  font-size: 11px;
  width: -webkit-fill-available;
  .fa {
    padding-left: 8px;
    .fa-lg {
      line-height: .25em;
    }
  }
}

@mixin modal-btn{
  border-radius: 5px;
  padding: 10px;
  border: 0px;
  font-size: 14px;
  width: -webkit-fill-available;
}

.btn-primary{
 @include btn-default;
  background-color: $btn-primary-color;
  &:hover,&:focus{
    background-color: lighten($btn-primary-color,10%);
  }
}

.btn-subscribe{
  @include btn-default;
  background-color: $btn-subscribe-color;
  &:hover,&:focus{
    background-color: lighten($btn-subscribe-color,10%);
  }
}
.btn-notApplicable{
  @include btn-default;
  background-color: $btn-notApplicable-color;
  &:hover,&:focus{
    background-color: lighten($btn-notApplicable-color,10%);
  }
}
.btn-recommended{
  @include btn-default;
  background-color: $btn-recommended-color;
  &:hover,&:focus{
    background-color: lighten($btn-recommended-color,10%);
  }
}

.btn-tiles{
  float: right;
  background-color: $default-color;
  width:32px;
  height:32px;
  border-radius: 8px;
  margin: 5px;
  padding: 3px;
  border: 0px;
  object-fit: contain;
  .fa{
    color :$tiles-btn-color
  }
}

.btn-reset{
  @include modal-btn;
  width:120px;
  margin: 5px 0px;
  background-color: $modal-btn-reset;
  &:hover,&:focus{
    background-color: lighten($modal-btn-reset,10%);
  }
}

.btn-save{
  @include modal-btn;
  width:160px;
  margin: 5px;
  margin-left: -20px;
  background-color: $modal-btn-save;
  &:hover,&:focus{
    background-color: lighten($modal-btn-save,10%);
  }
}
