.tile-container{
  margin-top:5px;
  margin-bottom:15px;
}

.gov-container{
  padding: 10px;
  width: 361px;
  margin: 20px;
  display: block;
  word-wrap: break-word;
}

p{
  display: block;
  width: 250px;
}

