.tile-container{
  margin-top: 5%;
  height: auto;
  width: 200px;
}
.tile-container img{
  height: 100%;
  // width: 100%;
}

.gov-container{
  padding: 50px 0px 0px 0px;
  // width: 361px;
  // height: 250px;
  /* margin: 19px; */
  // display: flex;
  word-wrap: break-word;
}

// p{
//   display: block;
//   width: 250px;
// }

 .tiles{
   margin: 0.5%;
   padding: 0%;
   border-radius: 10px;
   height: 80px;
   background-color: #fff;
   width: 100px;
   flex-wrap: wrap;
 }
 .gov-tiles{
  box-shadow: -20px 20px 50px -20px #dfdfdf;
  height: 88px;
  display: block;
  text-align: center;
  // min-width: 170px;
  margin: 4px 3px;
  background-color: #fff;
  padding: 10px 10%;
  box-sizing: border-box;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  border-color: #dfdfdf;
 }
 .row-no-padding {
  padding-left: 0;
  padding-right: 0;
}